.manageButton{
    color: whitesmoke;
    /* margin:25px 0px 0px 25px ; */
    display: block;
    background-color: green;

}

.admin-panel{
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(255, 208, 0, 0.377), 0 6px 20px 0 rgba(92, 252, 164, 0.212);
}